[user]
    email = philipp@jovanovic.io
    name = Philipp Jovanovic
	signingkey = C2B01B7E
[github]
    user = Daeinar
[core]
    editor = vim
[alias]
    # the acronym stands for "subtree add"
    sba = "!f() { git subtree add --prefix=$1 $2 master; }; f"
    # the acronym stands for "subtree update"
    sbu = "!f() { git subtree pull --prefix=$1 $2 master; }; f"
    # the acronym stands for "subtree push"
    sbp = "!f() { git subtree push --prefix=$1 $2 master; }; f"
[push]
	default = simple
[commit]
    gpgsign=yes
[gpg]
	program = gpg2
