extends tex

snippet Figure "References to figure" w
Figure~\ref{fig:${1:something}}$0
endsnippet

snippet Table "Reference to table" w
Table~\ref{tab:${1:something}}$0
endsnippet

snippet sum "Summation" w
\sum_{${1:from}}^{${2:to}}$0
endsnippet
